#nav-container {

    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.logo {
    width: 150px;
    height: 30px;
}

.nav-text {

    display: flex;

    gap: 2rem;


}
.cross{
    display: none;
}
.form-popup{
    display: none;
}
.popup-btn{
    display: none;
}
.request-btn {

    padding: 10px;
    border-radius: 10px;
    background-color: rgb(39, 191, 5);

    color: white;
    font-weight: bold;
    border: none;


}

#head-box {

    display: flex;
    height: 600px;
    flex-wrap: wrap;
    overflow: hidden;

}

#header-container {

    height: 500px;
    background-color: rgb(211, 244, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-box {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 30px;
    margin-left: 10%;

}

.request-btn2 {

    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(39, 191, 5);
    color: white;
    font-weight: bold;
    border: none;


}

.right-box {

    width: 40%;
    height: 850px;
    overflow: hidden;
    margin-top: -15%;
}

.mobile-img {


    margin-left: 73%;
    height: 700px;
    margin-top: -32%;

}

#middle-container {

    /* background-color: rgb(233, 242, 242); */
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

#choose-easy {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin-left: 15%
}

#choose-easy h1 {
    margin: 0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cart-container {

    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    gap: 2rem;


}

.cart {

    width: 20%;
    height: 300px;
    font-size: 20px;

}

#article-container {

    margin: 5% 0px;


}

#article-box {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 15%;
}

#article-card {

    display: flex;
    width: 80%;
    gap: 2rem;
    align-items: center;
    justify-content: center;


}

.latest-title {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.article-img {
    height: 50%;
    width: 100%;
}

.card-box {

    width: 25%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    line-height: 20px;

}

footer {

    background-color: rgb(49, 49, 104);
    height: 200px;
    display: flex;
    justify-content: space-evenly;


}

#footer-box1 {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

#footer-box2 {

    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    color: white;

}

#footer-box3 {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;

}

.footer-logo {
    filter: invert(100%);
}


/* responsive design for mobile application */

@media screen and (max-width:460px){
    body{
        width: 100%;
    }

    #nav-container {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .logo {
        width: 150px;
        height: 30px;
    }
    
    .nav-text {
        display: none;
    }
    
    .request-btn {
        display: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(39, 191, 5);
        color: white;
        font-weight: bold;
        border: none;
    }
    .cross{
        display: none;
        font-size: 30px;
    }
    .form-popup{

        z-index: 1;

        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1rem;
        font-size: 30px;
        background-color: aliceblue;
        margin: 20px 0px;
        position: absolute;
        display: none;
        text-align: center;
        margin-left: 10%;
       


    }
    .popup-btn{
        display: flex;
    }
    
    #head-box {
        display: flex;
        height: 1000px;
        flex-wrap: wrap;
        overflow: hidden;
        
    }
    
    #header-container {
        background-color: rgb(211, 244, 246);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    .left-box {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1rem;
        font-size: 20px;
        margin: 2rem;
        position: absolute;
        z-index: 1;
        margin-top: 300%;
      
      
        
    }
    
    .request-btn2 {
        padding: 10px;
        width: 200px;
        border-radius: 10px;
        background-color: rgb(39, 191, 5);
        color: white;
        font-weight: bold;
        border: none;
        margin: 1rem;
    }
    
    .right-box {
        width: 100%;
        overflow: hidden;
        order:-1;
        
    }
    
    .mobile-img {
        width: 100%;    
        height: auto;
        order:0;
        margin: 0 auto;
        position: absolute;
        
      
    }
    
    #middle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    
    #choose-easy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        margin: 2rem;
    }
    
    #choose-easy h1 {
        margin: 0rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        gap: 2rem;
    }
    
    .cart {
        width: 100%;
        height: auto;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
    }
    .logo-icon{
        width: 50%;
    }
     
    #article-box {
        display: flex;
        flex-direction: column; 
        gap: 2rem;
    }
    
    #article-card {
        display: flex;
      
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .latest-title {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    
    .article-img {
        width: 100%;
        height: auto;
    }
    
    .card-box {
        width: 120%;
        height: auto;
        overflow: hidden;
        border-radius: 10px;
        font-size: 20px;
        line-height:30px;
    }
    
    footer {
        background-color: rgb(49, 49, 104);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        font-size: 30px;
    }
    
    #footer-box1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem;
        margin-top: 5rem;
          
        
        
    }
    .inner-box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0px;
    }
    
    #footer-box2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 0em;
        
    }
    
    #footer-box3 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color: white;
        gap: 3rem;
        font-size: 20px;

        margin: 2rem 0rem;
    }
    
    .footer-logo {
        filter: invert(100%);
        width: 200%;
        
    }
  
    
    #footer-box3 .request-btn{

        padding: 20px;
        font-size: 25px;
        border-radius: 30px;

    }




}